* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  width: 100vw;
  font-family: "Outfit", sans-serif;
  display: flex;
}

.main__left {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  background-color: #f7f9fc;
}

.left__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group__image {
  width: 100%;
}

.group__text {
  margin-top: 32px;
  width: 260px;
  padding-bottom: 32px;
  border-bottom: 1px lightgrey solid;
  display: flex;
  flex-direction: column;
}

.left__container {
  
  width: 260px;
  padding-bottom: 32px;
  border-bottom: 1px lightgrey solid;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 32px;
  font-weight: 500;
}
h3 {
  font-size: 24px;
  font-weight: 500;
  background: -webkit-linear-gradient(#a478e8, #516cf7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 32px;
  margin-top: 8px;
}
p {
  font-size: 18px;
}
.quote {
  display: flex;
  text-wrap: wrap;
  font-size: 18px;
}
.open-quote {
  padding-right: 8px;
}
.open-quote,
.close-quote {
  font-size: 24px;
}
.close-quote {
  padding-top: 18px;
}
.left__title {
  font-size: 12px;
  color: gray;
}
.quote-text {
  display: flex;
  flex-direction: column;
}
.quote-main {
  margin-bottom: 4px;
}
.left__item {
  display: flex;
  height: 40px;
  margin-bottom: 24px;
}
.icon {
  height: 32px;
  width: 32px;
}
.left__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.main__right{
  display: flex;
  width: 70%;
  padding: 64px 48px 0px 32px;
}
.timeline {
  margin-left: 15px;
  margin-right: calc(32px + 15px);
  border: 1px lightgrey solid;
  height: calc(100% - 251px - 32px - 48px)
}

.main__right h1 {
  font-size: 24px;
  margin-bottom: 32px;
  position: relative;
}
.section__items {
  display: flex;
}
.box {
  background-color: #f7f9fc;
}
.section__item {
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.section__item.left {
  border-radius: 12px 0 0 12px;
  margin-right: 8px;
}
.section__item.right {
  border-radius: 0 12px 12px 0;
}

.section__info {
  display: flex;
  margin-bottom: 16px;
}

.section__icon {
  margin-right: 16px;
}
.section__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}
.section__description {
  font-size: 14px;
  color: #79819a;
}
.section__site {
  font-weight: 600;
  color: #516cf7;
  font-size: 16;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.section {
  position: relative;
  padding-bottom: 48px;
}
.table {
  display: flex;
  flex-direction: column;
}
.table__item {
  display: flex;
  padding-bottom: 16px;
  padding-top: 6px;
}
.section__wrapper{
  display: flex;
}
.table__left {
  display: flex;
  flex-direction: column;
  flex: 3 1;
}

.description {
  flex: 7 1;
  font-size: 10px;
  color:#79819A
}
.table__date {
  font-size: 10px;
  display: flex;
  margin-bottom: 8px;
  position: relative;
}

.table__date img {
  height: 10px;
  width: 10px;
}

.table__bottom {
  display: flex;
}
.table__icon{
  margin-right: 16px;
}
.table__text {
  font-size: 12px;
  color: #79819a;
  margin-bottom: 4px;
}
.table__name {
  font-size: 14px;
  font-weight: 400;
}
.table__location{
  display: flex;
  align-items: center;
}
.table__location-text{
  color:#79819a;
  margin-left: 4px;
}
.table__date-text{
  margin-right:4px;
}
.mini-timeline{
  position: relative;
  top:6px;
  width:2px;
  background-color: #F7F9FC;
  margin-left:11px;
  margin-right: calc(11px + 16px);
  height: 270px;
}

.section__item--long{
  padding: 16px 24px;
  margin-right:8px;
  flex: 1 1;
}
.section__image-wrapper{
  display: flex;
  align-items: center;
  margin-bottom:8px
}
.image-wrapper__icon{
  margin-right:16px
}
.section__name{
  font-size:12px;
}
.section__description{
  font-size:14px;
}
.section__date{
  font-size:10px;
  color:#79819a
}

.section__container{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  color:#9251F7;
}
.container__row{
  display: flex;
}
.container__topic-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:black
}
.container__box{
  margin-right:8px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
}
.container__box--double{
  display: flex;
  justify-content: space-around
}
.line{
  height: 100%;
  width:1px;
  margin: 0 8px;
  background-color: lightgrey;
}
.container__double-text{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 12px;
}
.line-hr{
  height:2px;
  background-color: lightgrey;
  width: 100%;
  margin: 8px 0;
}
.section__box-wrapper{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
/* .section__box-wrapper-1,.section__box-wrapper-2{
display:flex;
} */
.section__box{
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  margin-right: 8px;
  margin-bottom: 8px;
  
}

.section__box-1{
  width: calc(25% - 8px);
}
.section__box-2{
  width: calc(20% - 8px);
}
.section h1::before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #5531A7;
  border-radius: 100%;
  position: absolute;
  left: -63px;
  border:13px white solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table__date::before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: black;
  border-radius: 100%;
  position: absolute;
  left: calc(-27px - 3px);
  top:3px;
 }

 .left__title--topic{
  margin-top: 32px;
  margin-bottom: 24px;
  display: flex;
  width: 260px;
 }

 .container__topics{
  display: flex;
  flex:12;
 }

 @media (max-width: 576px) {
  .main{
    flex-direction: column;
  }
  .main__left{
    width: 100%;
  }
  .group__text{
    align-items: center;
    /* width: 480px; */
  }
  p.left__title{
    text-align: center;
  }
  .left__container{
    flex-direction: row;
    flex-wrap: wrap;
    width:480px;
    justify-content: space-between;
  }

  .left__item{
    width: 228px;
  }
  .left__value{
    font-size: 14px;
  }
 .left__title--topic{
  width:480px;
 }
 .section__items{
  flex-direction: column;
  
 }
 .section__item.left{
  margin-bottom: 8px;
  margin-right: 0;
 }
 .main__right{
  width: 100%;
 }
 .section{
  width: 432px;
 }
 .table__item{
  flex-direction: column;
 }
 .section__item{
  margin-bottom: 8px;
 }
 .container__topic-box{
  flex: 1 !important;
  justify-content: flex-start;
 }
 .container__topics{
  flex-direction: column;
  flex:3;
 }
 .container__box{
  margin-bottom: 8px;
 }
 .section__box-1,.section__box-2{
  width: calc(33% - 8px);
}
.order-1{
  order:1;
}
.order-2{
  order:2;
}
.order-3{
  order:3;
}
.order-4{
  order:4
}
.mini-timeline{
  height: 370px;
}
.timeline{
  height: 2300px;
}
 }